[overclock]
frequency = {{ bc250_hardware_performance_profile.cpu.frequency }}
scale = {{ bc250_hardware_performance_profile.cpu.scale }}
max_temperature = {{ bc250_hardware_performance_profile.cpu.max_temperature }}
